@import './../../../styles/variables.scss';

.descriptionSection {
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 263px;

  &__wrapper {
    max-width: 790px;
  }

  &__paragraph {
    margin-top: 33px;

    strong {
      color: $firstEminentFontColor;
    }
  }
}