@import './resetStyles.scss';
@import './fonts.scss';
@import './variables.scss';


// global components
body {
  font-family: $commonFont;
  color: $mainFontColor;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 150%;
}

h1 {
  font-family: $accentFont;
  font-weight: 700;
  font-size: 55px;
  color: $accentFontColor;
  line-height: 122%;
  letter-spacing: 0;
}

h2 {
  font-family: $accentFont;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.04em;
  color: $accentFontColor;
}

.p-1 {
  font-family: $commonFont;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: $accentFontColor;
}

.p-2 {
  font-family: $commonFont;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
}

.link--firstEminentColor {
  color: $firstEminentFontColor;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: $firstEminentFontColor;
  text-underline-position: under;
  text-decoration-thickness: 0.5px;
}

.link--secondEminentColor {
  color: $secondEminentFontColor;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: $secondEminentFontColor;
  text-underline-position: under;
  text-decoration-thickness: 0.5px;
}