@import './../../../styles/variables.scss';

.custom-button {
  width: 300px;
  height: 60px;
  border-radius: 15px;
  font-family: $commonFont;
  color: $buttonsFontColor;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.04em;


  &--mainAccent {
    box-shadow: $mainAccentBoxShadow;
    background: $mainAccentColor;
  }

  &--auxiliaryAccent {
    box-shadow: $auxiliaryAccentBoxShadow;
    background: $auxiliaryAccentColor;
  }
}