.animatedImage {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 693px;
  width: 864px;
  border-radius: 0px;

  &__space {
    position: relative;
  }

  &__space-background {
    position: absolute;
  }

  &__stars {
    position: absolute;
    top: 14px;
    right: 43px;
  }

  &__airplane {
    position: absolute;
    top: 329px;
    right: 30px;
    transform: rotate(45deg) scale(0.5);
  }

  &__elephant {
    position: absolute;
    top: 225px;
    right: 156px;
    transform: rotate(-11deg);
  }

  &__clock {
    position: absolute;
    top: 220px;
    left: 118px;
    transform: scale(0.7);
  }

  &__bulb {
    position: absolute;
    top: 327px;
    left: 464px;
    transform: rotate(15deg);
  }

  &__big-planet {
    position: absolute;
    top: 82px;
    left: 209px;
  }

  &__striped-planet {
    position: absolute;
    top: 134px;
    left: 427px;
  }

  &__dark-planet {
    position: absolute;
    top: 461px;
    left: 317px;
  }

  &__atom {
    position: absolute;
    top: 132px;
    left: 75px;
    transform: scale(0);
  }

  &__number-0 {
    position: absolute;
    top: 270px;
    right: 140px;
  }

  &__number-1 {
    position: absolute;
    top: 216px;
    right: 45px;
  }

  &__division {
    position: absolute;
    top: 185px;
    left: 515px;
    transform: scale(0.5);
    opacity: 0;
  }

  &__plus {
    position: absolute;
    top: 241px;
    left: 432px;
    transform: scale(0.5);
    opacity: 0;
  }

  &__palette {
    position: absolute;
    top: 119px;
    right: 71px;
  }

  &__rocket {
    position: absolute;
    top: 423px;
    left: 88px;
  }

  &__balloon {
    position: absolute;
    top: 262px;
    left: 354px;
  }

  &__child-container {
    position: relative;
    top: 473px;
    left: 370px;
    max-width: 276px;
  }

  &__child {
    position: absolute;
  }

  &__pencil {
    position: absolute;
    top: 155px;
    left: 42px;
    z-index: -1;
  }

  &__paper-airplanes {
    position: absolute;
    top: 716px;
    right: 525px;
  }
}